<!DOCTYPE html PUBLIC "-//W#C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Bio data: <%= controller.action_name %></title>
<%= stylesheet_link_tag 'default.css' %>
<style>
	
	.header
	{
		position:absolute;
		top:0%;
		left:12%;
        background-image: url("/images/1.jpg");
        background-repeat: no-repeat;
        background-position: top center;
        height:28%;
		width:76%;
		text-align: center;
	}
	
	.main{
		position:absolute;
		top:28%;
		left:15%;
        background-image: url("/images/11.jpg");
        background-repeat: no-repeat;
        background-position: top center;
		width:70%;
		height:72%;
		background-color:rgb(50,60,15); /*#eaeaea;*/
		border-radius: 10px;
		-moz-border-radius: 5px;
		text-align: center;
		display: inline-block;
		}
	.left
	{
		position:absolute;
		top:0%;
		left:0%;
        background-image: url("/images/17.jpg");
        background-repeat: no-repeat;
        background-position: top center;
		background-color:rgb(10,20,0);
        height:100%;
		width:15%;
		text-align: center;
	}

	.right
	{
		position:absolute;
		top:0%;
		left:85%;
        background-image: url("/images/17.jpg");
        background-repeat: no-repeat;
        background-position: top center;
		background-color:rgb(10,20,10);
        height:100%;
		width:15%;
		text-align: center;
	}

</style>
</head>
<body bgcolor=rgb(50,60,15)>
	
	<div class="header"></div>
	<div class="left"></div>
		
	<div class="main">
	
		</div>

		<div class="right"></div>
	
	</body>
</html>